<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="dbConn" connectionString="Server=studentpsql.miun.se;Port=5432; Database=Yatzyhub;User Id=yatzy_user; Password=game1234; SslMode=Require;"/>
  </connectionStrings>
</configuration>